{% extends 'base.html'%} <!--A way to pull content from earliertemplate base.html -->
{% load staticfiles %}<!-- Using files that are in static folder mainly images-->
{% load crispy_forms_tags %}<!-- Crispy is just awesome for forms handling -->
{% block content %}<!-- Using extend everything to be displayed are kept in extend.
It is just as if part of content in block of actually in base.html -->
<div align="center">Hi {{ user }}</div>

<div class="col-md-4 col-md-offset-2">

  {% if List %}
   <ul>
   {% for Event in List %}
       <li><a href="{% url 'Timetable:EditEvent' Event.id %}">{{ Event.name }}</a></li>
   {% endfor %}
   </ul>
{% else %}
   <p>No Events are available.</p>
{% endif %}
</div>
{% endblock %}
