{% extends 'base.html'%} <!--A way to pull content from earliertemplate base.html -->
{% load staticfiles %}<!-- Using files that are in static folder mainly images-->
{% load crispy_forms_tags %}<!-- Crispy is just awesome for forms handling -->
{% block content %}<!-- Using extend everything to be displayed are kept in extend.
It is just as if part of content in block of actually in base.html -->
<div align="center">Hi {{ user }}</div>
  {% if List %}
   {% for Event in List %}
   <div class="row ">
   <div class="row event-holder">
       <div class="col-md-8">
         <h3> {{ Event.name }} </h3>
         <h4> From : {{Event.StartDate }} {{ Event.StartTime }} </h4>
         <h4> To : {{ Event.EndDate  }} {{ Event.EndTime }} </h4>
         <h4> DeadLine : {{ Event.DeadLineDate }} {{ Event.DeadLineTime }} </h4>
      </div>
      <div class="col-md-4" >
         <a href="{% url 'Timetable:EditEvent' Event.id %}">Edit</a></li>
      </div>
    </div>
   {% endfor %}
{% else %}
   <p>No Events are available.</p>
{% endif %}
</div>
{% endblock %}
