{% extends 'base.html'%} <!--A way to pull content from earliertemplate base.html -->
{% load staticfiles %}<!-- Using files that are in static folder mainly images-->
{% block otherinclusions %}
  <link href='{% static "css/reset.css" %}' rel="stylesheet">
	<link href='{% static "css/style.css" %}' rel="stylesheet"> <!-- Resource style -->
{% endblock %}
{% block content %}
<p style="margin-top: 2.5em;">&nbsp;</p>
<!--       <div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% for tuple in SchedList %}
     {{tuple.0.Active_day}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {% endfor %}</div> -->
<div class="cd-schedule loading" style="height:580px;width:100%;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
	<div class="timeline">
		<ul>
      <!-- <li><span>08:30</span></li> -->
      {% for i in range %}
        <li><span>{{i}}:00</span></li>
        <li><span>{{i}}:30</span></li>
      {% endfor %}
        <li<<span>24:00</span></li>
		</ul>
	</div> <!-- .timeline -->
	<div class="events">
		<ul>
      {% for tuple in SchedList %}
			   <li class="events-group">
				       <div class="top-info"><span>{{tuple.0.Active_day}}</span></div>
				<ul>
          {% for Event in tuple.1 %}
          {% if Event.ScheduledEndTime|time:"H:i" != '00:00' %}
          {% if Event.Type == 'A' %}
          <li class="single-event" data-start="{{ Event.ScheduledStartTime|time:"H:i" }}" data-end="{{ Event.ScheduledEndTime|time:"H:i" }}" data-content=Event data-event="event-1" style="/*color: #8a6d3b;*/
    background-color: #73620c;
    border-color: #faebcc;">
          {% else %}
          {% if Event.Type == 'B' %}
          <li class="single-event" data-start="{{ Event.ScheduledStartTime|time:"H:i" }}" data-end="{{ Event.ScheduledEndTime|time:"H:i" }}" data-content=Event data-event="event-1" style="/*color:#31708f;*/background-color: #164e69;border-color: #bce8f1;">
          {% else %}
          {% if Event.Type == 'C' %}
          <li class="single-event" data-start="{{ Event.ScheduledStartTime|time:"H:i" }}" data-end="{{ Event.ScheduledEndTime|time:"H:i" }}" data-content=Event data-event="event-1" style="   /* color: #3c763d;
*/    background-color: #539339;
    border-color: #d6e9c6;">
          {% else %}
          {% if Event.Type == 'D' %}
          <li class="single-event" data-start="{{ Event.ScheduledStartTime|time:"H:i" }}" data-end="{{ Event.ScheduledEndTime|time:"H:i" }}" data-content=Event data-event="event-1" style="background-color:#66ff66;">
          {% else %}
          <li class="single-event" data-start="{{ Event.ScheduledStartTime|time:"H:i" }}" data-end="{{ Event.ScheduledEndTime|time:"H:i" }}" data-content=Event data-event="event-1" style="background-color:#4d4d00;">
          {% endif %}
          {% endif %}
          {% endif %}
          {% endif %}
            <a href="#0">
              <em class="event-name" style="/*color: #000000;*/">{{Event.name}}</em>
            </a>
          </li>
          {% else %}
           {% if Event.Type == 'A' %}
          <li class="single-event" data-start="{{ Event.ScheduledStartTime|time:"H:i" }}" data-end="24:00" data-content=Event data-event="event-1" style="/*color: #8a6d3b;*/
    background-color: #73620c;
    border-color: #faebcc;">
          {% else %}
          {% if Event.Type == 'B' %}
          <li class="single-event" data-start="{{ Event.ScheduledStartTime|time:"H:i" }}" data-end="24:00" data-content=Event data-event="event-1" style="/*color:#31708f;*/background-color: #164e69;border-color: #bce8f1;">
          {% else %}
          {% if Event.Type == 'C' %}
          <li class="single-event" data-start="{{ Event.ScheduledStartTime|time:"H:i" }}" data-end="24:00" data-content=Event data-event="event-1" style="   /* color: #3c763d;
*/    background-color: #539339;
    border-color: #d6e9c6;">
          {% else %}
          {% if Event.Type == 'D' %}
          <li class="single-event" data-start="{{ Event.ScheduledStartTime|time:"H:i" }}" data-end="24:00" data-content=Event data-event="event-1" style="background-color:#66ff66;">
          {% else %}
          <li class="single-event" data-start="{{ Event.ScheduledStartTime|time:"H:i" }}" data-end="24:00" data-content=Event data-event="event-1" style="background-color:#4d4d00;">
          {% endif %}
          {% endif %}
          {% endif %}
          {% endif %}
            <a href="#0">
              <em class="event-name" style="/*color: #000000;*/">{{Event.name}}</em>
            </a>
          </li>
          {% endif %}

<!--           {{ Event.ScheduledStartTime }}
          {{ Event.ScheduledEndTime }} -->
          {% endfor %}
<!--       <li class="single-event" data-start="23:00" data-end="24:00" data-content=Event data-event="event-1" style="background-color:#66ff66;">
            <a href="#0">
              <em class="event-name" style="/*color: #000000;*/">MIDNIGHT</em>
            </a>
      </li> -->
        </ul>
      </li>
      {% endfor %}
		</ul>
	</div>

	<!-- <div class="event-modal">
		<header class="header">
			<div class="content">
				<span class="event-date"></span>
				<h3 class="event-name"></h3>
        <h3></h3>
			</div>

			<div class="header-bg"></div>
		</header> -->

		<!-- <div class="body">
			<div class="event-info">
      </div>
			<div class="body-bg"></div>
		</div> -->

		<!-- <a href="#0" class="close">Close</a>
	</div> -->

	<div class="cover-layer"></div>
</div> <!-- .cd-schedule -->
{% endblock %}
{% block jscript %}
<script src='{% static "javascript/timetable.js" %}'></script>
<script src='{% static "javascript/modernizr.js" %}'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<!-- <script>
	if( !window.jQuery ) doctypecument.write('<script src="javascript/jquery-3.0.0.min.js"><\/script>');
</script> -->
{% endblock %}
