<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home'%}">GetSchedGo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          {% url 'home' as home %}<!-- making local variable -->
          {% url 'profile' as profile %}
          {% url 'about' as about %}
          {% url 'statistics:TodayStatistic' as statsHome %}
          <li {% if request.path == home %} class="active"{% endif %}><a href="{% url 'home'%}">Home</a></li><!-- Turns to active in navbar if current path is home -->
          <li {% if request.path == profile %} class="active"{% endif %}><a href="{% url 'profile'%}">Profile</a></li>
          <li {% if request.path == about %} class="active"{% endif %}><a href="{% url 'about'%}">About</a></li>
          <li {% if request.path == statsHome %} class="active"{% endif %}><a href="{% url 'statistics:TodayStatistic'%}">Statistics</a></li>

             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if not request.user.is_authenticated %}<!-- using if for different view if user is logged in or not -->
                <li><a href="{% url 'account_login'%}">Login</a></li>
                <li><a href="{% url 'account_signup'%}">Signup</a></li>
                {% else %}
                <li><a href="{% url 'account_logout'%}">Logout</a></li>
                {% endif %}
              </ul>
            </li>
            {% if request.user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'Timetable:CreateEvent'%}">Add Events</a></li>
                <li><a href="{% url 'Timetable:EventList'%}">Event List</a></li>
                <li><a href="{% url 'Timetable:Schedule'%}">TimeTable</a></li>
                <li><a href="{% url 'suggestion:index'%}">Suggested Events</a></li>
                <li><a href="{% url 'statistics:EventBeforeDate' %}">Give Completion Data</a>
              </ul>
            </li>
            {% url 'statistics:googleConnector' as googl%} 
<li  {% if request.path == googl %} class="active"{% endif %}>        <a href="{% url 'statistics:googleConnector' %}"><img src="https://calendar.google.com/googlecalendar/images/favicon_v2014_18.ico"></a>
</li>
            {% if request.user.profile.instructor %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create Student Event<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'Timetable:CreateAssignment'%}">Add Assignment</a></li>
                <li><a href="{% url 'Timetable:CreateClass'%}">Add Class</a></li>
                <li><a href="{% url 'Timetable:CreateExam'%}">Add Exam</a></li>
                <li><a href="{% url 'Timetable:AssignmentList'%}">Assignments</a></li>
                <li><a href="{% url 'Timetable:ClassList'%}">Class</a></li>
                <li><a href="{% url 'Timetable:ExamList'%}">Exam</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'courses:SelectCourse'%}">Select Course</a></li>
                <li><a href="{% url 'courses:EditCourse'%}">View/Edit Course</a></li>
              </ul>
            </li>
            {% else %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'courses:CourseView'%}">My Course</a></li>
                <li><a href="{% url 'courses:Enrollmentview'%}">Enroll for Course</a></li>
              </ul>
            </li>
            {% endif %}
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
