{% extends 'base.html'%} <!--A way to pull content from earliertemplate base.html -->
{% load staticfiles %}
{% block content %}
Hi {{ user }}<br>

  {% if List %}
<p>
   {% for Event in List %}
   <div class="row event-holder" id="event{{ forloop.counter }}" style="background-color: white; color:#033a22; font-family: 'Alegreya SC';font-size: 24px;">
<div class="col-md-6">
         <h3> {{ Event.name }} </h3>
         <h4> From : {{Event.StartDate }} {{ Event.StartTime }} </h4>
         <h4> To : {{ Event.EndDate  }} {{ Event.EndTime }} </h4>
         <h4> DeadLine : {{ Event.DeadLineDate }} {{ Event.DeadLineTime }} </h4>
         {% if Event.ScheduledStartTime %}
         <h4> Scheduled from {{ Event.ScheduledStartTime }} to {{ Event.ScheduledEndTime }}</h4>
         {% endif %}
      </div>
      <div class="col-md-5" >
         {% if not Event.Completed %}
         <a href="{% url 'statistics:MarkItCompleted' Event.id %}">Yah I did it</a><br>
         {% if not Event.Type == 'A' %}
         <a href="{% url 'Timetable:EditEvent' Event.id %}">No I missed it. Edit and Reschedule it</a><br>
         <a href="{% url 'Timetable:DeleteEvent' Event.id %}">Sorry I missed. Let's delete it. I don't wanna reschedule</a><br>
         {% endif %}
         {% else %}
         <h4>Completed</h4>
      {% endif  %}
<!--          <a href="{% url 'Timetable:DeleteEvent' Event.id %}">No I couldn't Do it</a><br>
 -->      </div>
    </div>
   {% endfor %}
</p>
{% else %}
   <p>No Events are available.</p>
{% endif %}
</div>
<p style="margin-top: 5em;">&nbsp;</p>


{% endblock %}