{% extends 'base.html'%} <!--A way to pull content from earliertemplate base.html -->
{% load staticfiles %}
{% block content %}

<a href="{% url 'statistics:AheadOfTime' %}">CLICK TO Generate CSV to export to calender</a><br>


<a href="https://calendar.google.com/calendar/render#settings-calendars_9">CLICK HERE TO add CSV from your PC to google calender</a>
{% if text %}
<iframe src="https://calendar.google.com/calendar/embed?src={{ text }}%40gmail.com&ctz=Asia/Calcutta" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
{% endif %}
{% endblock %}